
.header{

}
.header-top{
	width:100%;
	color:#fff;
	background-color: black;
	height:30px;
	position:relative;
}
/*top title*/
.header-top .wrap_title_content{
	line-height:30px;
}
/* top bmark */
.header-top .bookmark_content{
	width:15%;
	height:30px;
	position:absolute;
	top:0;
	right:0;
}
.header-top .bmark{
	line-height:30px;
	display:inline-block;
	color:#fff;
}

/* header-main */
.header-main{
	width:100%;
	height:100px;
	/* background-color: rgba(255,255,255,0.3); */
	background-color: pink;
	position:absolute;
}
.header-main .header-logo{
	width:440px;
	height:59px;
	margin-top:20px;
	float:left;
}
.header-main .header-logo .header-logo-image{
	width:100%;
	height:100%;
}

/* header main list */
.header-main .header-list{
	width:840px;
	position:absolute;
	left:450px;
	bottom:20px;
}
.header-main .header-list .header-item{
	float:left;
	width:120px;
	height:50px;

}
.header-main .header-list .header-item a{
	text-align:center;
	line-height:50px;
	
}
.header-main .header-list .header-item:hover .sub{
	background-color:#0bb;
	color:#fff;
	font-weight:bolder;
}

/* header content */
.header-main .header-list .header-item:hover .header-content{
	display:block;
}


.header-main .header-list .header-item .header-content{
	display:none;
	border:1px solid #ccc;
}
.header-main .header-list .header-item .header-content a{
	background-color: #fff;
}
.header-main .header-list .header-item .header-content a:hover{
	background-color:#0bb;
	color:#fff;
	font-weight:bolder;
}

